* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.order-container {
  margin: 40px 0px;
  height: 100%;
}

.order-header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.order-header-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.order-header-details-info {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.order-header-status-info .order-header-status-content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%; 
}



/* Detail */
.order-detail-container {
  margin: 40px 0px;
  height: 100%;
}

.order-detail-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.order-detail-table {
  height: 100%;
  width: 100%;
}
